meta
key
key.pub
jwt-private-key
jwt-public-key
serviceAccountKey.json
playground/functions/*
playground/storage/serviceAccountKey.json
playground/storage/public/node_modules
playground/storage/public/node_modules/*
build/*
template/*
.DS_Store
micros/.DS_Store
*/.DS_Store
config/env/.env.secrets